# Toronto Neighborhoods

### Part one: Toronto neighborhood dataframe

In [1]:
import pandas as pd
import numpy as np

In [2]:
#get the table from Wikipedia
toronto_neigh, = pd.read_html("http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header = 0, match = 'Neighborhood')
toronto_neigh.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [3]:
#change column name
toronto_neigh.rename(columns = {'Postal code': 'PostalCode'}, inplace = True)
toronto_neigh.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned                         NaN
1        M2A      Not assigned                         NaN
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

In [4]:
#drop the rows without assigned borough
toronto_neigh.drop(toronto_neigh[toronto_neigh['Borough'] == 'Not assigned'].index, inplace = True)
toronto_neigh.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [5]:
#check if there are multiple rows with the same postal code
if toronto_neigh['PostalCode'].is_unique:
    print('No action needed.')
else:
    print('Need to group by the postal code.')

No action needed.

In [6]:
#raplace NaN in Neighbohood with Borough
toronto_neigh['Neighborhood'].replace(np.nan, toronto_neigh['Borough'],inplace = True)
toronto_neigh.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [7]:
#replace / with comma in Neighborhood
toronto_neigh['Neighborhood'] = toronto_neigh['Neighborhood'].str.replace('/', ',')
toronto_neigh.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park , Harbourfront
5        M6A        North York             Lawrence Manor , Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [8]:
#size of the dataframe
print(toronto_neigh.shape)

(103, 3)

### Part two: Latitude and longitude of the neighborhoods

In [9]:
#!wget -q -O 'geo_coordinates.csv' http://cocl.us/Geospatial_data
#print('Coordinates downloaded.')

In [10]:
#import the geospatial coordinates
lat_long = pd.read_csv('http://cocl.us/Geospatial_data', header = 0)
lat_long.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
#sort the postal code in Toronto neighborhoods. 
toronto_neigh.sort_values(by = 'PostalCode', axis = 0, ascending = True, inplace = True)
toronto_neigh.reset_index(drop = True, inplace = True)

In [12]:
#check if they are in the same order as those in lat_long. If true, add the coordinates to toronto_neigh dataframe.
if all(toronto_neigh['PostalCode'] == lat_long['Postal Code']):
    print('The Orders of the postal codes are the same. Concatenate the coordinates dataframe.')
    toronto_neigh_geo = pd.concat([toronto_neigh, lat_long], axis = 1 )
else:
    print('Something wrong with the orders.')

toronto_neigh_geo.drop(columns= 'Postal Code', inplace = True)

The Orders of the postal codes are the same. Concatenate the coordinates dataframe.

In [13]:
toronto_neigh_geo.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood , Morningside , West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [14]:
print(toronto_neigh_geo.shape)

(103, 5)

### Part three: Neighborhood clustering