# TORONTO NEIGHBORHOODS

## Part One: Toronto Neighborhood Dataframe

In [1]:
import pandas as pd
import numpy as np

In [2]:
# get the table from Wikipedia
toronto_neigh, = pd.read_html("http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header = 0, match = 'Neighborhood')
toronto_neigh.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [3]:
# change column name
toronto_neigh.rename(columns = {'Postal code': 'PostalCode'}, inplace = True)
toronto_neigh.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned                         NaN
1        M2A      Not assigned                         NaN
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

In [4]:
# drop the rows without assigned borough
toronto_neigh.drop(toronto_neigh[toronto_neigh['Borough'] == 'Not assigned'].index, inplace = True)
toronto_neigh.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [5]:
# check if there are multiple rows with the same postal code
if toronto_neigh['PostalCode'].is_unique:
    print('No action needed.')
else:
    print('Need to group by the postal code.')

No action needed.

In [6]:
# raplace NaN in Neighbohood with Borough
toronto_neigh['Neighborhood'].replace(np.nan, toronto_neigh['Borough'], inplace = True)
toronto_neigh.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [7]:
# replace / with comma in Neighborhood
toronto_neigh['Neighborhood'] = toronto_neigh['Neighborhood'].str.replace('/', ',')
toronto_neigh.reset_index(drop = True, inplace = True)
toronto_neigh.head(12)

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park , Harbourfront"
3,M6A,North York,"Lawrence Manor , Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government"
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Malvern , Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill , Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park , Princess Gardens , Martin Gr..."

In [8]:
# size of the dataframe
print(toronto_neigh.shape)

(103, 3)