# Toronto Neighborhoods

### Part one: Toronto neighborhood dataframe

In [8]:
import pandas as pd
import numpy as np

In [9]:
#get the table from Wikipedia
toronto_neigh, = pd.read_html("http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header = 0, match = 'Neighborhood')
toronto_neigh.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [10]:
#change column name
toronto_neigh.rename(columns = {'Postal code': 'PostalCode'}, inplace = True)
toronto_neigh.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned                         NaN
1        M2A      Not assigned                         NaN
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

In [11]:
#drop the rows without assigned borough
toronto_neigh.drop(toronto_neigh[toronto_neigh['Borough'] == 'Not assigned'].index, inplace = True)
toronto_neigh.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [12]:
#check if there are multiple rows with the same postal code
if toronto_neigh['PostalCode'].is_unique:
    print('No action needed.')
else:
    print('Need to group by the postal code.')

No action needed.

In [13]:
#raplace NaN in Neighbohood with Borough
toronto_neigh['Neighborhood'].replace(np.nan, toronto_neigh['Borough'],inplace = True)
toronto_neigh.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [14]:
#replace / with comma in Neighborhood
toronto_neigh['Neighborhood'] = toronto_neigh['Neighborhood'].str.replace('/', ',')
toronto_neigh.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park , Harbourfront
5        M6A        North York             Lawrence Manor , Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [15]:
#size of the dataframe
print(toronto_neigh.shape)

(103, 3)

### Part two: Latitude and longitude of the neighborhoods